<!DOCTYPE html>
<html lang="en">
  <!--<%- extends('./layout.ejs') %> -->
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Testing</title>
  </head>
  <body>
    <%- include('layout.ejs') %>
    <!--<% block body %> <% endblock %> -->
    <!--<div id="loginButtonContainer"></div>-->
    <p>
      djasdhkajsdbakjbdgalksdghlawkbdkhasbdawuhdk;asdhbalwudhaslkdblkawbdakwbdl
    </p>
    <script src="../random.js"></script>
  </body>
</html>
